apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: {{ resources_computed_prefix }}cfssl-ca-secret-job
  name: {{ resources_computed_prefix }}cfssl-ca-secret-job
  namespace: {{ astarte_k8s_namespace }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["list"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: {{ resources_computed_prefix }}cfssl-ca-secret-job
  name: {{ resources_computed_prefix }}cfssl-ca-secret-job
  namespace: {{ astarte_k8s_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app: {{ resources_computed_prefix }}cfssl-ca-secret-job
  name: {{ resources_computed_prefix }}cfssl-ca-secret-job
  namespace: {{ astarte_k8s_namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ resources_computed_prefix }}cfssl-ca-secret-job
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ resources_computed_prefix }}cfssl-ca-secret-job

