# Adds namespace to all resources.
namespace: "{{ .Release.Namespace }}"
namePrefix: "{{ .Release.Name }}-"

# Labels to add to all resources and selectors.
#commonLabels:
#  someName: someValue

bases:
- ../manager

images:
- name: controller
  newName: "{{ .Values.image.repository }}"
  newTag: "{{ .Values.image.tag }}"

patchesStrategicMerge:
- manager_helm_values.yaml
