# Default values for astarte-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

installCRDs: true

image:
  repository: astarte/astarte-kubernetes-operator
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "1.0.0"

resources:
  limits:
    cpu: 100m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
