- name: Create RabbitMQ cookie secret
  k8s:
    state: present
    definition: "{{ lookup('template', 'rabbitmq-cookie.yml') }}"
  when:
    - not lookup('k8s', kind='Secret', resource_name=resources_computed_prefix + 'rabbitmq-cookie', namespace=astarte_k8s_namespace)
    - rabbitmq_k8s_deploy

- name: Create RabbitMQ user credentials
  k8s:
    state: present
    definition: "{{ lookup('template', 'rabbitmq-user-credentials.yml') }}"
  when: not lookup('k8s', kind='Secret', resource_name=rabbitmq_connection_k8s_credentials_secret_name, namespace=astarte_k8s_namespace)

- name: Create RabbitMQ Service Account
  k8s:
    state: present
    definition: "{{ lookup('template', 'rabbitmq-rbac.yml') }}"
  when:
    - k8s_use_rbac
    - rabbitmq_k8s_deploy

- name: Ensure RabbitMQ StatefulSet
  k8s:
    state: present
    definition: "{{ lookup('template', 'rabbitmq-statefulset.yml') }}"
  when: rabbitmq_k8s_deploy

- name: Ensure RabbitMQ Service
  k8s:
    state: present
    definition: "{{ lookup('template', 'rabbitmq-service.yml') }}"
  when: rabbitmq_k8s_deploy
